/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgcolor: #fffbe7;
  --blue: #d5e7ee;
  --red: #ce5501;
}
/* Font */
body {
  font-style: normal;
  color: black;
  background-color: var(--bgcolor);
}
.bluesection {
  background-color: var(--blue);
  min-height: 100vh;
}
.yellowsection {
  background-color: var(--bgcolor);
  min-height: 100vh;
}

/* Typography */
h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

section {
  margin: auto;
  padding: 2rem;
  .grid-elevhistorie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px 60px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  padding: 0px 80px;
}

.eventyr {
  background-color: var(--bgcolor);
}

.eventyr h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 35px;
}

.p-overskift {
  text-align: center;
}

/* Infomøde */
.yellowsection {
  display: grid;
  grid-column: 1fr 1fr;
  padding-top: 40px;
}

.info-right {
  grid-column: 2/3;
  align-content: center;
}

.info-right img {
  width: 500px;
  height: auto;
  border-radius: 8px;

  /* background-color: white;
  padding: 10px 10px 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.217); */
}

.info-left {
  padding-left: 80px;
}

.info-left h1 {
  text-align: left;
}

.info-left h2 {
  font-size: 20px;
  color: #ce5501;
}

.p-info {
  width: 500px;
}
