/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgcolor: #fffbe7;
  --blue: #d5e7ee;
}
/* Font */
body {
  font-family: "Inter", sans-serif;
  color: #222;
  background-color: var(--bgcolor);
}
.bluesection {
  background-color: var(--blue);

  min-height: 100vh;
}

/* Typography */
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.grid-elevhistorie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 60px;
}
