/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Font */
body {
  font-family: "Inter", sans-serif;
  color: #222;
  background-color: #f8f8f8;
}

/* Typography */
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}
