---
import Layout from '../components/Layout.astro';
import PrimaryButton from '../components/PrimaryButton.astro';
import Card from "../components/card.astro"
import Hero from "../components/Hero.astro";
---

	<Layout>
		

	<body>
		<section>	<Hero/> </section>
	
		<section>
		<Card dage="90 dage" h3="Maldiverne" byline="se afgange" image/>
		</section>
		
	</body>
</html>
</Layout>