---
import PrimaryButton from "./PrimaryButton.astro"
---


		<section class="hero">
 <video class="hero__video" autoplay muted loop playsinline controls>
  <source src="/public/billeder/movie.mp4" type="video/mp4" />
</video>

  <div class="hero__overlay"></div>

  <div class="hero__content">
    <h1>
      DIT<br />
      HØJSKOLEEVENTYR<br />
      STARTER HER
    </h1>

    <p>
      HØJSKOLENDK er en dansk højskole for unge i alderen 18–26 år. <br>
      Vi brænder for oplevelser, fællesskabet og det gode eventyr.
    </p>
    
<div class="button-wrapper">
  <PrimaryButton href="#">
    Se rejsekalender
  </PrimaryButton>

  <PrimaryButton href="/forms">
    Infomøder
  </PrimaryButton>
</div>

  </div>


  </div>

</section>

<style>

.button-wrapper{
 display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px;
    }

:global(html),
:global(body) {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.hero__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 88%;
  object-fit: cover;
  display: block; 
  z-index: 0;
}

.hero__content h1{
  color: white;
  font-size: 68px;
  text-align: center;
  padding-top: 5%;
}

.hero__content p {
  color: white;
  font-size: 18px;
  text-align: center;

}


.hero__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 2;
}


</style>