---
const { href } = Astro.props;
---
<a href={href} class="btn">
  <slot />
</a>

<style>
  .btn {
    padding: 10px 24px;
    border-radius: 12px;
    background: #CE5501;
    color: white;
    border: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    text-decoration: none;
  }
  .btn:hover {
    background: #CE5501;
  }

</style>