
---
const { dage, h3, byline, image } = Astro.props;
---

<article class="grid_1-1-1 " style={`background-image: url(${image});`}>
		<div class="card">
		<p class="dage">{dage}</p>
   
		<div class="bund">
		<h3 class="lande">{h3}</h3>
		<p class="afgange">{byline}</p>
		</div>
		</div>
        </article>

<style>
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 60px;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  background-color: rgb(156, 155, 155);
  margin: 10px;
  height: 22rem;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card p {
  margin: 0;
}

.bund {
  margin-top: auto;
}

.dage {
  background-color: #c74f1c;
  width: 80px;
  border-radius: 4px;
  padding: 6px;
  margin: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.lande {
  color: #ffffff;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.afgange {
  color: #ffffff;
  font-size: 14px;
  padding-top: 14px;
}
</style>
